<h1>Admin::Items#new</h1>
<p>Find me in app/views/admin/items/new.html.erb</p>

<h2>商品新規登録</h2>
  <% if @item.errors.any? %>
    <%= @item.errors.count %> errors prohibited this item from being saved:
    <ul>
      <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
    <%= form_with model: @item, url: "/admin/item/new", method: :post do |f| %>
    <div>
      <label>商品画像</label>
      <%= f.file_field :image, accept: "image/*" %>
    </div>
    <div>
      <label>商品名</label>
      <%= f.text_field :name %>
    </div>
    <div>
      <label>商品説明</label>
      <%= f.text_area :introduction %>
    </div>
    <div>
      <label>ジャンル</label>
      <%= f.select :genre, [['ケーキ',1], ['プリン',2], ['焼き菓子',3], ['キャンディ',4]], { include_blank: '--選択してください--'} %>
    </div>
    <div>
      <label>税抜価格</label>
      <%= f.text_field :price %>
    </div>
    <div>
      <label>販売ステータス</label>
      <%= f.radio_button :is_active,0,checked: true %>販売中<%= f.radio_button :is_active, 1 %>販売停止中
    </div>
    <iv>
    <div>
      <%= f.submit '新規登録' %>
    </div>
<% end %>