<h1>Admin::Items#show</h1>
<p>Find me in app/views/admin/items/show.html.erb</p>
<h1>商品詳細</h1>
<%= image_tag(@item.get_image(100,100))%>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>商品説明</th>
      <th>ジャンル</th>
      <th>税込価格</th>
      <th>販売ステータス</th>
      <!--<th rowspan="5"></th>-->
    </tr>
  </thead>
  <tbody>
    <td><%= @item.name %></td>
    <td><%= @item.introduction %></td>
    <td><%= @item.genre.name %></td>
    <td><%= @item.price %></td>
    <% if @item.is_active == true %>
      <td>販売中</td>
    <% else %>
      <td>販売停止中</td>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to '編集する', edit_admin_item_path(@item.id) %>
</p>