<h1>Public::Orders#comfirm</h1>
<p>Find me in app/views/public/orders/comfirm.html.erb</p>

<h2>注文情報確認</h2>
    商品名
    単価（税込）
    数量
    小計
    <br>
<% @cart_items.each do |cart_item| %>
    <%= image_tag cart_item.item.get_image(100, 100) %>
    <%= cart_item.item.name %>
    <%= cart_item.item.with_tax_price %>
    <%= cart_item.amount %>
    <%= cart_item.subtotal %>
    <br>
    <% @total_payment += cart_item.subtotal %>
<% end %>

<%= form_with model: @order, url: orders_path, method: :post do |f| %>
    送料
    <%= @shipping_cost %><br>
    <%= f.hidden_field :shipping_cost, :value => @shipping_cost %>
    商品合計
    <%= @total_payment %><br>
    <%= f.hidden_field :total_payment, :value => @total_payment %>
    請求金額
    <%= @shipping_cost + @total_payment %><br>

    支払方法
    <%= @payment_method %><br>
    <%= f.hidden_field :payment_method, :value => @payment_method %>
    お届け先
    <%= @order.order_display %><br>
    <%= @order.name %><br>
    <%= f.hidden_field :postal_code, :value => @order.postal_code %>
    <%= f.hidden_field :address, :value => @order.address %>
    <%= f.hidden_field :name, :value => @order.name %>
    <%= f.submit '注文を確定する' %>
<% end %>