<h1>Public::Orders#new</h1>
<p>Find me in app/views/public/orders/new.html.erb</p>

<h2>注文情報入力</h2>
<%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>

    <label>支払方法</label>
    <div>
        <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: "checked" %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
    </div>
    <div>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
    </div>

    <!--<label>お届け先</label>-->
    <!--<div>-->
    <!--    <= f.radio_button :address, 0, checked: "checked" %>-->
    <!--    <= f.label :address, 'ご自身の住所' %><br>-->
    <!--    <= @main_address %>-->
    <!--</div>-->
    <!--<div>-->
    <!--    <= f.radio_button :address, 1 %>-->
    <!--    <= f.label :address, '登録住所から選択' %><br>-->
    <!--    <= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>-->
    <!--</div>-->
    <!--<div>-->
    <!--    <= f.radio_button :address, 2 %>-->
    <!--    <= f.label :address, '新しいお届け先' %>-->
    <!--</div>-->
    <!--<div>-->
    <%= f.submit '確認画面へ進む' %>
    <!--</div>-->

<% end %>
