<div class="row">
  <h2 style="font-size: 25px">注文履歴詳細</h2>
</div>

<div class="row">
  <div class="col-lg-6">
    <h3>注文情報</h3>
    注文日
    <td><%= l @order.created_at %></td><br>
    配送先
    <td><%= @order.order_display %></td><br>
    支払方法
    <td><%= @payment_method %></td><br>
    ステータス
    <td><%= @status %></td><br>
  </div>

  <div class="col-lg-4">
    <h3>請求情報</h3>
    商品合計
    <td><%= @order.total_payment %></td><br>
    配送料
    <td><%= @order.shipping_cost %></td><br>
    ご請求額
    <td><%= @order.total_payment + @order.shipping_cost %></td><br>
  </div>
</div>


<div class="row">
  <h3>注文内容</h3>
  <% @order_details.each do |order_detail| %>
  商品
  <%= order_detail.item.name %><br>
  単価（税込）
  <%= order_detail.price %>円<br>
  個数
  <%= order_detail.amount %><br>
  小計
  <%= order_detail.price * order_detail.amount %><br>
  <% end %>
</div>