<h1>Public::Items#show</h1>
<p>Find me in app/views/public/items/show.html.erb</p>

<%= image_tag @item.get_image(100,100) %>
<br>
  <%= @item.name %>
  <br>
  <%= @item.introduction %>
  <br>
  <%= @item.price %>(税抜)
  <br>
<% if customer_signed_in? %>
  <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.hidden_field :customer_id, :value => current_customer.id %>
    <!--<= f.select :amount, [['1',1], ['2',2], ['3',3], ['4',4]], { include_blank: '--個数選択--'} %>-->
    <%= f.select :amount, *[1..10], { include_blank: '--個数選択--'} %>
    <%= f.submit 'カートに入れる' %>
  <% end %>
<% else %>
  <br>
  <div>会員登録するとご注文いただけます。</div>
  <div>新規会員登録は<%= link_to 'こちら', new_customer_registration_path %></div>
  <div><%= link_to '戻る', items_path %></div>
<% end %>
