<h1>Public::Items#show</h1>
<p>Find me in app/views/public/items/show.html.erb</p>

<%= image_tag @item.get_image(100,100) %>
<br>
<%= form_with model: @item, url: item_path(@item.id), method: :post do |f| %>
<%= @item.name %>
<br>
<%= @item.introduction %>
<br>
<%= @item.price %>(税抜)
<br>
<!--<= f.select :amount, [['1',1], ['2',2], ['3',3], ['4',4]], { include_blank: '--個数選択--'} %>-->
<%= f.select :amount, *[1..10], { include_blank: '--個数選択--'} %>
<%= f.submit 'カートに入れる' %>
<% end %>
